<h3>Usuário: <%= current_user.name %> </h3>
<div>
  <% if current_user.try(:admin?) %>
    <h5 class="text-danger">ADMINISTRADOR</h5>
  <% end %>
  <h5>E-mail: <%= current_user.email %></h5>
  <h5>CPF: <%= current_user.formatted_cpf %></h5>
</div>
