<h3>Lista de CPFs bloqueados no sistema</h3>
<p>
Os usuários que tentarem criar uma conta no sistema com os cpfs abaixo serão
impedidos, e aqueles que já tem conta terão seu acesso limitado.
</p>
<p>
<%= link_to 'Adicionar CPF à lista de bloqueio', new_blocked_cpf_path, class:"clean-link" %>
</p>
<% @blocked_cpfs.each do |bc| %>
  <div class="d-flex gap-3 mb-3 align-items-center">
    <%= bc.formatted_cpf %>
    <%= button_to "Remover", blocked_cpf_path(bc), method: :delete, class:"btn btn-secondary btn-sm", id:"remove-#{dom_id(bc)}" %>
  </div>
<% end %>
