@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #3d3525;
  color:rgb(219, 219, 219);
}

.navbar button {
  border:0;
  background-color:transparent;
}

.alert-alert { @extend .alert-warning; }
.alert-notice { @extend .alert-success; }

.img-resize {
  width: 100px;
  height: auto;
}

.main-brand {
  font-family: 'Patua One', cursive;
}

h3 {
  font-family: 'Patua One', cursive;
}

.clean-link {
  color: #c75000;
  display: block;
}

.clean-link:hover {
  color: #c06e37;
}

a {
  color: #c75000;
}

a:hover {
  color: #c06e37;
}
