<% if object.errors.include?(:base) %>
  <p class="text-danger">Atenção:</p>
  <ul>
    <% object.errors.full_messages_for(:base).each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
